<div class="ui card">
  <div class="content">
    <a class="header" href='/recipe/{{recipe.id}}'>{{ recipe.name }}</a>
    <div class="meta">
      <span class="date">added on {{recipe.dateAdded | date}} by {{ recipe.chef }}</span>
    </div>
    <ul class="ui list">
      <li *ngFor='let ing of recipe.ingredients'>
        <app-ingredient [ingredient]='ing'></app-ingredient>
      </li>
    </ul>
    <button class="ui icon button" (click)="removeRecipe()">
      <i class="trash outline icon"></i>
    </button>
  </div>
</div>